@import "../../utils/vars.scss";

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 62px;
    position: relative;
    top: 0;
    left: 0;
    background-color: $main-bars;

    .header-links {
        font-family: $main-font;
        font-size: 14px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.50;
        letter-spacing: 1.40px;
        text-align: center;
        color: $secondary-text;
        text-decoration: none;

        margin-left:10px;
        margin-right:10px;

        @media($md){
            font-size: 18px;
        }
    }
}
