<div class="footer-container padding-container">

    <div class="footer-contact margins">
        <label for="">Contactos</label>
    </div>

    <div class="footer-socials margins">
        <label for="">Siga-nos nas nossas Redes Socias!</label>
        <div class="social-icons-container">
            <a href="https://www.facebook.com" target="_blank"><img class="social-icons" src="../../../assets/socials-icons/facebook.png" alt="facebook"></a>
            <a href="https://www.instagram.comz" target="_blank"><img class="social-icons" src="../../../assets/socials-icons/instagram.png" alt="instagram"></a>
            <a href="https://www.tiktok.com" target="_blank"><img class="social-icons" src="../../../assets/socials-icons/tiktok.png" alt="tiktok"></a>
        </div>
    </div>
</div>
